/*font-family: 'JelleeBold';*/
img {
    width: 100px;
}

#cardDiv {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 200px);
    gap: 20px
}
header{
    display: flex;
    justify-content: end;
}

.purchasing {
    display: flex;
    justify-content: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.superpowerList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerDiv {
    position: absolute;
}
