/*font-family: 'JelleeBold';*/
body {
    
    background-image: url("https://janschreiber.github.io/img2/black-chalk.jpg");
    color: rgb(230, 230, 230);

}

img {
    width: 100px;
    border-radius: 80px;
}


#cardDiv {
    font-family: 'Indie Flower', 'Comic Sans', cursive;
    font-size: 0.7em;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 200px);
    gap: 20px
}

header{
  display: flex;
  justify-content: end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.purchasing {
    display: flex;
    justify-content: center;
    gap: 5px
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.superpowerList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerDiv {
    position: absolute;
}

.inputDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;   
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opinion {
    display: flex;
    justify-content: center;
}

.intro {
    display: flex;
    justify-content: center;
}

.total {
    font-weight: 600;
}

.purchase {
    border-radius: 50px;
    background-color: #e8ede8; /* Green background */
    border: none; /* Remove border */
    color: rgb(210, 21, 21); /* White text */
    padding: 15px 32px; /* Add some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    font-size: 16px; /* Increase font size */
    cursor: pointer; /* Add a pointer cursor on hover */
    transition: all 0.5s ease; /* Add a transition effect */
}

.purchase:hover {
    background-color: #3e8e41;
    transform: scale(1.1); }

