body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    gap: 5px
}

.orderInfos {
    display: flex;
    justify-content: center;
    gap: 5px;
    box-sizing:border-box
}

.orderInfos p {
    margin:0px
}

.inputDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.buttonDiv {
    align-self: center;
}

.orderInfosDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p {
    margin:10px
}

.thankYou {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#countdown {
    animation: countdown 7s linear;
  }
  
  @keyframes countdown {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }